@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

/* Global */

.visually-hidden {
 position: absolute;
 clip: rect(1px, 1px, 1px, 1px);
 padding:0;
 border:0;
 height: 1px;
 width: 1px;
 overflow: hidden;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-display: swap;
  line-height: 21px;
  color: #333333;
  padding: 0;
  margin: 0;
}

.all {
  outline: 1px solid #ff0000;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0 , 1 , 1 , 0.2);
}

.main-header {
  height: 64px;
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Глобальная работа с текстом */

.features h2,
.sedona-specialties h2,
.search-results h2,
.hotel-search h2,
.subscribe h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.features h3,
.sedona-specialties h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 28px;
}

.p-explanation {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.features p,
.sedona-specialties p {
  text-align: center;
}

.p-descript {
  margin: 0;
}

/* Logo Sedona */

.main-header-logo {
  z-index: 1;
}

/* Main Header */

.main-screen {
  outline: 1px solid #ff0000;
  height: 485px;
  background-image: url("../img/main-screen.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.main-screen div {
  outline: 0px solid #ff0000;
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/decor-mask.png");
}

.main-screen img {
  margin-top: 51px;
}

/* Main-navigation */

.main-navigation {
  height: 64px;
  display: flex;
}

/* Site Navigation */

.site-navigation {      /* У навигации убрал высоту за счёт добавления верхнего и нижнего padding */
  outline: 0px solid #ff0000;
  font-size: 20px;
  font-weight: 700;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  display: flex;
}

.site-navigation li:nth-child(2) {
  margin-left: 32px;
  margin-right: 32px;
}

.site-navigation a {
  outline: 0px solid #ff0000;
  color: inherit;
}

/* Пользовательское меню */

.user-bar {
  outline: 1px solid #ff0000;
  height: 36px;
  padding-left: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.user-bar-search, .user-bar-favorite {
  outline: 1px solid #ff0000;
  width: 20px;
  height: 20px;
  background-image: url("../img/ic-search.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
}

.user-bar-search {
  background-image: url("../img/ic-search.svg");
}

.user-bar-favorite {
  background-image: url("../img/ic-favorite.svg");
}

.header-button {
  border-style: none;
  padding: 8px 34px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  border-radius: 4px;
}

/* Features */

.features h2 {
  margin-top:69px;
  margin-bottom: 25px;
}

.sedona-reasons {
  outline: 0px solid #ff0000;
  margin-top: 0;
  margin-bottom: 90px;
}

.advantages-list li:nth-child(3) {      /* Выбирает 3-й элемент списка внутри всего родителя, и меняет непрозрачность фона */
  background-color: rgba(131,179,211,20%);
}

.advantages-list {      /* Начало сетки на Grid */
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages-item-img {
  grid-column: 1 / -1;
}

.img-right {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.img-left {     /* Конец сетки Grid */
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.advantage-without-img {
  outline: 0px solid #ff0000;
  background-color: rgba(131,179,211,12%);
  padding-top: 112px;
  padding-right: 85px;
  padding-bottom: 112px;
  padding-left: 85px;
}

.left-descript,
.right-descript {
  outline: 0px solid #ff0000;
  padding-top: 102px;
  padding-right: 85px;
  padding-bottom: 102px;
  padding-left: 85px;
  color: #ffffff;
  background-color: #82B3D3;
}

.left-descript h3,
.right-descript h3 {
  margin-top: 0;
  margin-bottom: 62px;
}

/* Sedona Specialties */

.sedona-specialties-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sedona-specialties h2 {
  margin-top: 64px;
  margin-bottom: 20px;
}

.sedona-specialties p.p-explanation {
  margin-top: 0;
  margin-bottom: 64px;
}

.sedona-specialties-list {
  padding: 0;
  margin: 0;
}

.item-with-icon {
  outline: 0px solid #ff0000;
  text-align: center;
  padding-top: 81px;
  padding-right: 85px;
  padding-bottom: 81px;
  padding-left: 85px;
}

.item-with-icon h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sedona-specialties-list li:nth-child(odd) {      /* Выбирает только нечётные элементы из списка */
  background-color: rgba(131,179,211,12%);
}

/* Hotel Search */

.hotel-search {
  padding-top: 96px;
  padding-right: 304px;
  padding-bottom: 96px;
  padding-left: 304px;

}

.hotel-search h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search p {
  margin-bottom: 54px;
}

/* Filters */

.filters {
  height: 372px;
  background-image: url("../img/hotels-bg-blure.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
}

.filters h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}

/* Breadcrumbs List */

.breadcrumbs-list {
  padding-left: 0;
  display: flex;
}

.breadcrumbs-item {
  outline: 1px solid #ff0000;
  height: 21px;
}

.breadcrumbs-item .breadcrumbs-main-pg {      /* Правило добавляет иконку домика на Главную */
  outline: 1px solid #ff0000;
  width: 12px;
  height: 12px;
  background-image: url("../img/ic-main-pg.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
}

/* Options Bar */

.options-bar {
  outline: 1px solid #ff0000;
}

.options-bar h2 {
  text-align: left;
}

.view-options-bar {
  padding-left: 0;
}

.view-element .as-tile,
.view-element .as-card,
.view-element .as-list {
  width: 16px;
  height: 14px;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
}

.view-element .as-tile {
  background-image: url("../img/ic-tile.svg");
}

.view-element .as-card {
  background-image: url("../img/ic-as-card.svg");
}

.view-element .as-list {
  background-image: url("../img/ic-list.svg");
}

/* Subscribe */

.subscribe {      /* Правило для блока Subscribe на Главной странице */
  outline: 1px solid #ff0000;
  background-image: url("../img/subscribe-blure.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-top: 96px;
  padding-bottom: 104px;
  color: #ffffff;
}

.subscribe p {
  margin-top: 20px;
  margin-bottom: 54px;
}

.subscribe-inner {      /* Правило персонализации для блока Subscribe на внутренней странице */
  background-image: none;
}

.subscribe-inner h2 {
  color: #000000;
}

.subscribe-inner p {
  color: #333333;
}

.subscribe-form {
  display: flex;
  justify-content: center;      /* Выравнивает форму подписки по горизонтали */
}

/* Main Footer */

.main-footer {
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
}

.wrapper {
  display: flex;
}

/* Footer Phone */

.footer-phone a {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}
